<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Заголовок базового шаблона {% endblock %}</title>
</head>
<body>
{% block content %}
<h1>Страница сайта</h1>
<h2>Старт проекта интернет-мазина 4</h2>
<p>Контент...</p>
{% endblock %}
<footer>
    {% block content_footer %}
    <hr>
    <H6>Расзрешено свободное использоание материалов сайта</H6>
    {% endblock %}
</footer>
</body>
</html>
