{% extends 'dz_app4/base.html' %}
{% load static %}
{% block title %} Главная {% endblock %}

{% block content %}
<h1>Главная DZ 4</h1>
<h2>Интернет-мазгаин</h2>
<p><a href="{% url 'admin:index' %}">link to admin panel</a></p>

<p><a href="{% url 'get_products' %}">Продукты</a></p>

<p><a href="{% url 'cart' %}">Купить</a></p>

<p><a href="{% url 'get_media' %}">Галерея</a></p>

<p><a href="{% url 'update_product' %}">Продукт</a></p>

<p><a href="{% url 'update_client' %}">Пользователь</a></p>

<p>{% for item in products %}
    <li> {% if item.image %} <img src="{{ item.image.url }}"
                                  style="width: 150px; height: 160px; border: 1px solid red;"/>
        {% endif %}
        {{ item.name }}
    </li>

    {% endfor %}
</p>


{% endblock %}