{% extends 'dz_app4/base.html' %}
{% load static %}
{% block title %} Главная {% endblock %}

{% block content %}
<h1>Главная DZ 4</h1>
<h2>Интернет-мазгаин</h2>
<p><a href="{% url 'admin:index' %}">link to admin panel</a></p>



<p>{% for item in products %}
    <li> {% if item.image_field %} <img src="{{ item.image_field.url }}"
                                  style="width: 150px; height: 160px; border: 1px solid red;"/>
        {% endif %}
        {{ item.name }}
    </li>

    {% endfor %}
</p>


{% endblock %}